/* `Zero Out Stuff
----------------------------------------------------------------------------------------------------*/

* {
	margin: 0;
	outline: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

img {
	border: 0;
	font-size: 0;
}

th,
td {
	vertical-align: top;
	text-align: left;
}